/******************
 * Social Colours *
 ******************/
/* GitHub     - rgba(51, 51, 51, 1) */
/* Google+    - rgba(221, 75, 57, 1) */
/* Mastodon   - rgba(24, 157, 249, 1) */
/* Twitter    - rgba(29, 161, 242, 1) */

/**********
 * Github *
 **********/
.github:not(.button):hover, 
.github:not(.button):focus {
  color: rgba(51, 51, 51, 1); }

.button.github:hover, .button.github:focus {
  border-color: rgba(51, 51, 51, 1);
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1); }
.button.github:active {
  border-color: rgba(51, 51, 51, 0.4);
  background-color: rgba(51, 51, 51, 0.8); }

/**********
 * Goole+ *
 **********/
.google-plus:not(.button):hover, 
.googlep-lus:not(.button):focus {
  color: rgba(221, 75, 57, 1); }

.button.google-plus:hover, .button.google-plus:focus {
  border-color: rgba(221, 75, 57, 1);
  background-color: rgba(221, 75, 57, 1);
  color: rgba(255, 255, 255, 1); }
.button.google-plus:active {
  border-color: rgba(221, 75, 57, 0.4);
  background-color: rgba(221, 75, 57, 0.8); }

/**************
 * Mastodon *
 **************/
.mastodon:not(.button):hover, 
.mastodon:not(.button):focus {
  color: rgba(24, 157, 249, 1); }

.button.mastodon:hover, .button.mastodon:focus {
  border-color: rgba(24, 157, 249, 1);
  background-color: rgba(24, 157, 249, 1);
  color: rgba(255, 255, 255, 1); }
.button.mastodon:active {
  border-color: rgba(24, 157, 249, 0.4);
  background-color: rgba(24, 157, 249, 0.8); }

/***********
 * Twitter *
 ***********/
.twitter:not(.button):hover, 
.twitter:not(.button):focus {
  color: rgba(29, 161, 242, 1); }

.button.twitter:hover, .button.twitter:focus {
  border-color: rgba(29, 161, 242, 1);
  background-color: rgba(29, 161, 242, 1);
  color: rgba(255, 255, 255, 1); }
.button.twitter:active {
  border-color: rgba(29, 161, 242, 0.4);
  background-color: rgba(29, 161, 242, 0.8); }
