---
layout: page
title: Contact
id: contact
css: true
---

<section markdown="1" class="panel grid constrained">
  <div>
    <h1 class="accent-lined">Wanna work together?</h1>
    <h2 class="subheading">Let me know what you have in mind.</h2>
    <p>If you think I would be a good fit for your team and want to work together or if you just wanna say hi, I'd love to hear from you. You can reach me through this form or <a href="mailto://{{ site.email }}">directly via email</a>.</p>
  </div>
  <form method="POST" action="http://formspree.io/{{ site.email | escape }}">
    <div class="input-container">
      <input id="name" name="name" type="text" placeholder="Jane Doe" required>
      <label for="name">
        {% include modules/icon.html name="user" %}
        <span>Full Name</span>
      </label>
    </div>

    <div class="input-container">
      <input id="email" name="email" type="email" placeholder="jane@example.com" required>
      <label for="email">
        {% include modules/icon.html name="mail" %}
        <span>Email</span>
      </label>
    </div>

    <div class="input-container">
      <select name="subject">
        <option value="Hello">Just Saying Hi.</option>
        <option value="Buisness Inquiry">Buisness Inquiry</option>
        <option value="Other">Other</option>
      </select>
      <label for="subject">
        {% include modules/icon.html name="info" %}
        <span>Subject</span>
      </label>
    </div>

    <div class="input-container">
      <textarea id="message" name="message" placeholder="Hello, Let's work together!" required></textarea>
      <label for="message">
        {% include modules/icon.html name="message" %}
        <span>Message</span>
      </label>
    </div>

    <div class="grid">
      <div class="grid end stretch-sm">
        <button class="btn success" type="submit">
          {% include modules/icon.html name="send" %}
          Send
        </button>
      </div>
    </div>
  </form>
</section>
