---
layout: default
---
{%- capture hero_text -%}
  <h1 class="display">micah ilbery</h1>
  <h4 class="display-alt">UI & UX Designer & Front-End Developer</h4>
{%- endcapture -%}
{%- include header.html content=hero_text hero=true -%}

<main>
  <div class="wrapper">
    <section id="recent-work">
      <h2>Recent Work</h2>

      {%- if site.work.size > 0 -%}

      {%- if site.work.size > 3 -%}
      <div class="card-list-halved">
      {%- else -%}
      <div class="card-list">
      {%- endif -%}

      {%- assign i = 0 %}
      {%- for job in site.work reversed -%}
        {%- if i < 4 -%}
        {% assign image_path = '/assets/images' %}
        <a href="{{ job.url | relative_url }}" class="preview-card" style="background-image: url('{{ image_path }}{{ job.url | remove: ".html" }}/preview.jpg');">
          <h2 class="client-name">{{ job.title | escape }}</h2>
          <h3 class="job-title">{{ job.job-title }}</h3>
        </a>
        {% assign i = i | plus: 1 %}
        {%- endif -%}
      {%- endfor -%}
      </div>
      <div class="more-button text-right">
        <button onclick="window.location.href='/work/'" class="btn-icon">
          See More
          <svg class="icon">
            <use xlink:href="{{ '/assets/images/icons/sprites.svg#work' | relative_url }}"></use>
          </svg>
        </button>
      </div>
      {%- else -%}
      <h3 class="text-center">Sorry nothin yet. Come back soon.</h3>
      {%- endif -%}
    </section>

    <section id="me">
      {% include profile.html %}

      <h2 class="text-center">A Little About Me</h2>
      <div class="post-content">
        <p>
          Hello, I'm Micah, a <span id="my-age">twenty-something</span> year old UX & UI designer and front-end web developer currently living in the
          <a target="_blank" href="https://goo.gl/maps/gahfMLR5qVS2" class="link-alert">Edwardsville</a> area.
          My passion is working to solve real problems for real people using design, code, empathy, and understanding both as an individual
          and doing so collaboratively with a team of people of diverse perspectives but a common goal. There is always room to improve and I have a
          lot to learn still but I love learning new things and taking on new challenges. I also love open-source and contribute to
          projects that I love most where and when I can whether it be through code, design, documentation, or something else.
          {% if site.github_username %}
          You can find most of my contributions via my <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="link-secondary link-arrow">GitHub</a>
          {% endif -%}
        </p>

        <p>
          That's really just the tip of the iceberg. If you would like to know more about the real me, my family, my hobbies, how I spend my time, my life story and so on and so forth then
          the <a href="/about/">About</a> page is for you. You might also want the check me out at any or all of the social media links above by my face
          and/or read my random thoughts and ramblings  in my <a href="/blog" class="link-info link-arrow">Blog</a>
        </p>

        <h5>Availability</h5>
        {%- if site.available_for_hire -%}
        <p>
          I am currently available and am looking for
          {% if site.wanted_positions %}
            {{ site.wanted_positions | escape }}
          {% else %}
            employment
          {% endif %}
          {% if site.wanted_locations %}
            {{ site.wanted_locations | escape }}
          {% endif %}.
          If you think I would be a good fit for your business I'd love to hear from you. You can reach me
          {% if site.email %}
          <a href="mailto:{{ site.email | escape }}" class="link-warning">directly via email</a> or
          {% endif %}
          <a href="/contact/" class="link-success link-arrow">via my contact page</a>
        </p>
        {%- else -%}
        <p>
          I am not currently looking for work or accepting any new clients or projects.
        </p>
        {%- endif -%}
      </div>
    </section>

    <section id="recent-posts">
      <h2>Recent Posts</h2>

      {%- if site.posts.size > 0 -%}
      {% assign j = 0 %}
      <div class="card-list">
      {%- for post in site.posts -%}
        {%- if j < 3 -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% assign image_path = '/assets/images/posts' %}
        <a href="{{ post.url | relative_url }}" class="preview-card" style="background-image: url('{{ image_path }}{{ post.url | remove: ".html" }}/preview.jpg');">
          <h1 class="post-title">{{ post.title | escape }}</h1>
          {%- if site.show_hooks and post.hook -%}
          <h5 class="hook">{{ post.hook }}</h5>
          {%- endif -%}
          <div class="timestamp">{{ post.date | date: date_format }}</div>
        </a>
        {% assign j = j | plus: 1 %}
        {%- endif -%}
      {%- endfor -%}
      </div>
      <div class="more-button text-right">
        <button onclick="window.location.href='/blog/'" class="btn-icon">
          See More
          <svg class="icon">
            <use xlink:href="{{ '/assets/images/icons/sprites.svg#blog' | relative_url }}"></use>
          </svg>
        </button>
      </div>
      {%- else -%}
      <h3 class="text-center">Sorry nothin yet. Come back soon.</h3>
      {%- endif -%}
    </section>
  </div>
</main>

<script>
  window.onload = function () {
    document.getElementById("my-age").innerHTML = get_age ('1991/9/1');
  }
</script>
