---
layout: page
title: Pay
---
<section>
  <h1 class="accent-lined">Support Me</h1>
  <p>Want to buy me a drink/food, like what I do and want to support it, or just want to throw money at me? You've come to the right place.</p>
  <div class="constrained">
    {% if site.support_options.paypal %}
    <h3>
      &nbsp;
      {% include modules/icon.html name="paypal" class="x2" %}
      <span class="accent-lined">PayPal</span>
    </h3>
    <p><a href="https://paypal.me/{{ site.support_options.paypal }}" class="paypal">Use Paypal.me</a>, or send to micah.ilbery@protonmail.com.</p>
    {% endif %}
    {% if site.support_options.ko-fi %}
    <h3>
      &nbsp;
      {% include modules/icon.html name="ko-fi" class="x2" %}
      <span class="accent-lined">Ko-fi</span>
    </h3>
    <p>You can support me through <a href="https://ko-fi.com/{{ site.support_options.ko-fi }}" class="ko-fi">Ko-fi</a></p>
    {% endif %}
    {% if site.support_options.patreon %}
    <h3>
      &nbsp;
      {% include modules/icon.html name="patreon" class="x2" %}
      <span class="accent-lined">Patreon
    </h3>
    <p>You can support me through <a href="https://patreon.com/{{ site.support_options.patreon }}" class="patreon">Patreon</a></p>
    {% endif %}
    {% if site.support_options.squarecash %}
    <h3>
      &nbsp;
      {% include modules/icon.html name="squarecash" class="x2" %}
      <span class="accent-lined">Square Cash</span>
    </h3>
    <p><a href="https://cash.app/${{ site.support_options.squarecash }}" class="squarecash">Use Square Cash</a>, or send to ${{ site.support_options.squarecash }}</p>
    {% endif %}
    {% if site.support_options.google-pay %}
    <h3>
      &nbsp;
      {% include modules/icon.html name="google" class="x2" %}
      <span class="accent-lined">Google Pay</span>
    </h3>
    <p>Send to {{ site.support_options.google-pay }}.</p>
    {% endif %}
    {% if site.support_options.venmo %}
    <h3>
      &nbsp;
      {% include modules/icon.html name="venmo" class="x2" %}
      <span class="accent-lined">Venmo</span>
    </h3>
    <p>Scan the QR code, <a href="https://venmo.com/{{ site.support_options.venmo }}" class="venmo">Use Venmo</a>, or send to @{{ site.support_options.venmo }}</p>
    <picture>
      <source srcset="/assets/images/venmo-qr.webp" type="image/webp">
      <img src="/assets/images/venmo-qr.jpg" alt="Venmo QR code">
    </picture>
    {% endif %}
  </div>
</section>
