$path-to-fonts: 'fonts/RobotoMono/';

/* Roboto Mono Thin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Mono Thin'), local('RobotoMono-Thin'),
       url('#{$path-to-fonts}/100/roboto-mono-100.woff2') format('woff2'),
       url('#{$path-to-fonts}/100/roboto-mono-100.woff') format('woff');
}

/* Roboto Mono Thin Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Mono Thin Italic'), local('RobotoMono-ThinItalic'),
       url('#{$path-to-fonts}/100/roboto-mono-100i.woff2') format('woff2'),
       url('#{$path-to-fonts}/100/roboto-mono-100i.woff') format('woff');
}

/* Roboto Mono Light */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
       url('#{$path-to-fonts}/300/roboto-mono-300.woff2') format('woff2'),
       url('#{$path-to-fonts}/300/roboto-mono-300.woff') format('woff');
}

/* Roboto Mono Light Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'),
       url('#{$path-to-fonts}/300/roboto-mono-300i.woff2') format('woff2'),
       url('#{$path-to-fonts}/300/roboto-mono-300i.woff') format('woff');
}

/* Roboto Mono */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono'),
       url('#{$path-to-fonts}/400/roboto-mono-400.woff2') format('woff2'),
       url('#{$path-to-fonts}/400/roboto-mono-400.woff') format('woff');
}

/* Roboto Mono Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),
       url('#{$path-to-fonts}/400/roboto-mono-400i.woff2') format('woff2'),
       url('#{$path-to-fonts}/400/roboto-mono-400i.woff') format('woff');
}

/* Roboto Mono Medium */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
       url('#{$path-to-fonts}/500/roboto-mono-500.woff2') format('woff2'),
       url('#{$path-to-fonts}/500/roboto-mono-500.woff') format('woff');
}

/* Roboto Mono Medium Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Mono Medium Italic'), local('RobotoMono-MediumItalic'),
       url('#{$path-to-fonts}/500/roboto-mono-500i.woff2') format('woff2'),
       url('#{$path-to-fonts}/500/roboto-mono-500i.woff') format('woff');
}

/* Roboto Mono Bold */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
       url('#{$path-to-fonts}/700/roboto-mono-700.woff2') format('woff2'),
       url('#{$path-to-fonts}/700/roboto-mono-700.woff') format('woff');
}

/* Roboto Mono Bold Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'),
       url('#{$path-to-fonts}/700/roboto-mono-700i.woff2') format('woff2'),
       url('#{$path-to-fonts}/700/roboto-mono-700i.woff') format('woff');
}
