<footer>
  <hr>
  <div class="grid thirds stack-sm">
    <div class="h-stretch start-sm">
      <h4 class="accent-lined">Links</h4>
      <p><small>Can't find what you're looking for? Here's a collection of links. It might be in here:</small></p>
      <ul class="ln-list">
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://micahilbery.com/shades-icon-set/" class="icon-ln alt-ln cyan">
            <span class="icon">{% include icon/brands/shades.svg %}</span>
            Shades Icon Set
          </a>
        </li>
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://micahilbery.com/ocarina/" class="icon-ln alt-ln blue">
            <span class="icon">{% include icon/brands/zelda-ocarina.svg %}</span>
            Ocarina
          </a>
        </li>
        <li>
          <a href="/edw/#slide-1" class="icon-ln elementary">
            <span class="icon">{% include icon/brands/elementary.svg %}</span>
            edw Slides
          </a>
        </li>
      </ul>
    </div>
    <div class="h-stretch start-sm">
      <h4 class="accent-lined">Socials</h4>
      <p><small>Want to keep up with whatever I'm doing, follow me around on the internet, or get in touch? You can do all that here:</small></p>
      <ul class="ln-list">
        {% if site.socials.twitter %}
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://twitter.com/{{ site.socials.twitter }}" class="icon-ln twitter">
            <span class="icon">{% include icon/brands/twitter.svg %}</span>
            Twitter
          </a>
        </li>
        {% endif %}
        {% if site.socials.instagram %}
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://instagram.com/{{ site.socials.instagram }}" class="icon-ln instagram">
            <span class="icon">{% include icon/brands/instagram.svg %}</span>
            Instagram
          </a>
        </li>
        {% endif %}
        {%- if site.socials.mastodon.instance and site.socials.mastodon.username -%}
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://{{ site.socials.mastodon.instance }}/@{{ site.socials.mastodon.username }}" class="icon-ln mastodon">
            <span class="icon">{% include icon/brands/mastodon.svg %}</span>
            Mastodon
          </a>
        </li>
        {% endif %}
        {% if site.socials.github %}
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://github.com/{{ site.socials.github }}" class="icon-ln github">
            <span class="icon">{% include icon/brands/github.svg %}</span>
            GitHub
          </a>
        </li>
        {% endif %}
        {% if site.socials.twitch %}
        <li>
         <a rel="nofollow noopener noreferrer" target="_blank" href="https://twitch.tv/{{ site.socials.twitch }}" class="icon-ln twitch">
          <span class="icon">{% include icon/brands/twitch.svg %}</span>
           Twitch
         </a>
        </li>
        {% endif %}
        {% if site.socials.youtube %}
        <li>
         <a rel="nofollow noopener noreferrer" target="_blank" href="https://youtube.com/c/{{ site.socials.youtube }}" class="icon-ln youtube">
          <span class="icon">{% include icon/brands/youtube.svg %}</span>
           YouTube
         </a>
        </li>
        {% endif %}
        {% if site.socials.tiktok %}
        <li>
         <a rel="nofollow noopener noreferrer" target="_blank" href="https://tiktok.com/@{{ site.socials.tiktok }}" class="icon-ln tiktok">
          <span class="icon">{% include icon/brands/tiktok.svg %}</span>
           TikTok
         </a>
        </li>
        {% endif %}
        {% if site.email %}
        <li>
         <a href="mailto://{{ site.email }}" class="icon-ln protonmail">
          <span class="icon">{% include icon/mail.svg %}</span>
           Mail
         </a>
        </li>
        {% endif %}
        {%- if site.rss -%}
        <li>
          <a href="{{ 'feed.xml' | relative_url }}" class="icon-ln rss">
            <span class="icon">{% include icon/rss.svg %}</span>
            RSS
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
    <div class="h-stretch start-sm">
      <h4 class="accent-lined">Support Me</h4>
      <p><small>Want to buy me a drink/food, like what I do and want to support it, or just want to throw money at me? You can do just that here:</small></p>
      <ul class="ln-list">
        <li>
          <a href="https://koicoffee.co" class="icon-ln koicoffee">
            <span class="icon">{% include icon/brands/koi-coffee.svg %}</span>
            Koi Coffee
          </a>
        </li>
        <li>
          <a href="/pay/" class="icon-ln alt-ln green">
            <span class="icon">{% include icon/qr.svg %}</span>
            Pay
          </a>
        </li>
        {% if site.support_options.paypal %}
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://paypal.me/{{ site.support_options.paypal }}" class="icon-ln paypal">
            <span class="icon">{% include icon/brands/paypal.svg %}</span>
            PayPal
          </a>
        </li>
        {% endif %}
        {% if site.support_options.venmo %}
        <li>
          <a rel="nofollow noopener noreferrer" target="_blank" href="https://venmo.com/{{ site.support_options.venmo }}" class="icon-ln venmo">
            <span class="icon">{% include icon/brands/venmo.svg %}</span>
            Venmo
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="center text-center">
    <div><small class="fine-print">Copyright &copy; {{ site.copyright_start }} - {{ site.time | date: '%Y' }} | Micah Ilbery</small></div>
    <a rel="nofollow noopener noreferrer" target="_blank" href="https://github.com/micahilbery/micahilbery.github.io/issues" class="icon-ln">
      <small>
        <span class="icon">{% include icon/bug.svg %}</span>
        Report an Issue
      </small>
    </a>
  </div>
</footer>
