<nav class="top-nav">
  <div class="logo logotype">
    <a href="{{ site.url }}" class="nav-link {% if page.url == '/'  %} current {% endif %}">micah ilbery</a>
  </div>
  <div class="nav-menu">
    <a href="{{ '/work/' | relative_url }}" class="nav-link {% if page.url == '/work/'  %} current {% endif %}">Work</a>
    <a href="{{ '/about/' | relative_url }}" class="nav-link {% if page.url == '/about/'  %} current {% endif %}">About</a>
    <a href="{{ '/blog/' | relative_url }}" class="nav-link {% if page.url == '/blog/'  %} current {% endif %}">Blog</a>
    <a href="{{ '/contact/' | relative_url }}" class="nav-link {% if page.url == '/contact/'  %} current {% endif %}">Contact</a>
  </div>
</nav>

<nav class="bottom-nav">
    <a href="{{ '/work/' | relative_url }}" class="nav-link {% if page.url == '/work/'  %} current {% endif %}">
      <div>
        <svg class="icon"><use xlink:href="{{ '/assets/images/icons/sprites.svg#work' | relative_url }}"></use></svg>
      </div>
      Work
    </a>
    <a href="{{ '/about/' | relative_url }}" class="nav-link {% if page.url == '/about/'  %} current {% endif %}">
      <div>
        <svg class="icon"><use xlink:href="{{ '/assets/images/icons/sprites.svg#avatar' | relative_url }}"></use></svg>
      </div>
      About
    </a>
    <a href="{{ '/blog/' | relative_url }}" class="nav-link {% if page.url == '/blog/'  %} current {% endif %}">
      <div>
        <svg class="icon"><use xlink:href="{{ '/assets/images/icons/sprites.svg#blog' | relative_url }}"></use></svg>
      </div>
      Blog
    </a>
    <a href="{{ '/contact/' | relative_url }}" class="nav-link {% if page.url == '/contact/'  %} current {% endif %}">
      <div>
        <svg class="icon"><use xlink:href="{{ '/assets/images/icons/sprites.svg#mail' | relative_url }}"></use></svg>
      </div>
      Contact
    </a>
  </div>
</nav>
