//===============//
// Color-schemes //
//===============//
@mixin get-color-scheme( $scheme : 'light' ) {
  @if ( $scheme != 'dark' ) {
    // Light Color Scheme //
    --bg-main: #{$light-grey-300};
    --bg-alt: #{$light-grey-100};

    --txt-main: #{$dark-grey-500};
    --txt-alt: #{$dark-grey-300};
    --txt-fine: #{$dark-grey-100};
    --txt-inverse: #{$light-grey-300};

    --focus-color: #{$cyan-700};

    --accent-color: #{$pink-700};
    --accent-gradient: linear-gradient(rgba(0,0,0,0.1), transparent), linear-gradient(to right, #{$pink-500}, #{$purple-500}, #{$cyan-500});

    --border: #{1px solid rgba(black, .3)};

    --sel-bg-main: #{$pink-100};
    --sel-bg-alt: #{$cyan-100};
    --sel-txt-main: #{$pink-900};
    --sel-txt-alt: #{$cyan-900};

    --mrk-bg: #{rgba($yellow-300, 0.8)};
    --mrk-txt: #{$yellow-900};

    --kbd-bg: #{$light-grey-100};
    --kbd-txt: #{$light-grey-900};
    --kbd-stroke: #{$light-grey-700};

    --code-bg-main: #{$sol-base3};
    --code-bg-alt: #{$sol-base2};
    --code-txt-main: #{$sol-base00};
    --code-txt-alt: #{$sol-base1};
    --code-txt-opt: #{$sol-base01};
    --code-stroke: #{rgba(black, .3)};

    --code-yellow: #{$sol-yellow};
    --code-orange: #{$sol-orange};
    --code-red: #{$sol-red};
    --code-pink: #{$sol-magenta};
    --code-purple: #{$sol-violet};
    --code-blue: #{$sol-blue};
    --code-cyan: #{$sol-cyan};
    --code-green: #{$sol-green};

    --ln-txt: var(--accent-color);
    --ln-hvr: #{$cyan-700};
    --ln-act: #{$purple-700};
    --ln-ul: underline;
    --ln-ul-main: #{$pink-100};
    --ln-ul-alt: #{$cyan-100};

    --btn-bg: #{$dark-grey-300};
    --btn-txt: #{$light-grey-300};

    --panel-bg: #{$light-grey-100};
    --panel-txt: #{$dark-grey-700};

    --tag-bg: #{rgba($pink-100, .2)};
    --tag-txt: #{$pink-900};
    --tag-txt-hvr: #{$cyan-700};
    --tag-txt-act: #{$purple-700};

    --texture-main: #{bg-img-svg('texture-main', black, 0.05)};
    --texture-alt: #{bg-img-svg('texture-alt', white, 0.025)};
    --sel-arrow: #{bg-img-svg('sel-arrow', $dark-grey-700)};
    --checked: #{bg-img-svg('check', $light-grey-100)};
  } @else {
    // Dark Color Scheme //
    --bg-main: #{$dark-grey-700};
    --bg-alt: #{$dark-grey-900};

    --txt-main: #{$light-grey-500};
    --txt-alt: #{$light-grey-700};
    --txt-fine: #{$light-grey-700};
    --txt-inverse: #{$dark-grey-700};

    --focus-color: #{$cyan-300};

    --accent-color: #{$pink-300};
    --accent-gradient: linear-gradient(rgba(0, 0, 0, .1), transparent), linear-gradient(to right, #{$pink-300}, #{$purple-300}, #{$cyan-300});

    --border: #{1px solid rgba(black, .7)};

    --sel-bg-main: #{$pink-900};
    --sel-bg-alt: #{$cyan-900};
    --sel-txt-main: #{$pink-100};
    --sel-txt-alt: #{$cyan-100};

    --mrk-bg: #{rgba($yellow-900, 0.8)};
    --mrk-txt: #{$yellow-100};

    --kbd-bg: #{$dark-grey-900};
    --kbd-txt: #{$dark-grey-100};
    --kbd-stroke: black;

    --code-bg-main: #{$sol-base03};
    --code-bg-alt: #{$sol-base02};
    --code-txt-main: #{$sol-base0};
    --code-txt-alt: #{$sol-base01};
    --code-txt-opt: #{$sol-base1};

    --code-yellow: #{$sol-yellow};
    --code-orange: #{$sol-orange};
    --code-red: #{$sol-red};
    --code-pink: #{$sol-magenta};
    --code-purple: #{$sol-violet};
    --code-blue: #{$sol-blue};
    --code-cyan: #{$sol-cyan};
    --code-green: #{$sol-green};

    --ln-txt: var(--accent-color);
    --ln-hvr: #{$cyan-300};
    --ln-act: #{$purple-100};
    --ln-ul-main: #{$purple-700};
    --ln-ul-alt: #{$cyan-900};

    --btn-bg: #{$light-grey-700};
    --btn-txt: #{$dark-grey-700};

    --panel-bg: #{$dark-grey-500};
    --panel-txt: #{$light-grey-300};

    --tag-bg: #{rgba($pink-900, .2)};
    --tag-txt: #{$pink-100};
    --tag-txt-hvr: #{$cyan-300};
    --tag-txt-act: #{$purple-100};

    --texture-main: #{bg-img-svg('texture-main', black, 0.1)};
    --texture-alt: #{bg-img-svg('texture-alt', white, 0.05)};
    --sel-arrow: #{bg-img-svg('sel-arrow', $light-grey-500)};
    --checked: #{bg-img-svg('check', $pink-900)};
  }
}

:root {
  @include get-color-scheme('light');
}

@media( prefers-color-scheme: dark ) {
  :root {
    @include get-color-scheme('dark');
  }
}

.light {
  @include get-color-scheme('light');
}

.dark {
  @include get-color-scheme('dark');
}

// Color Classes
.pink,
.primary {
  --ln-txt: #{$pink-700};
  --ln-hvr: #{$pink-500};
  --ln-act: #{$pink-900};
  --ln-ul: none;

  --btn-bg: #{$pink-500};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($pink-100, .2)};
  --panel-txt: #{$pink-900};

  --tag-bg: #{rgba($pink-100, .2)};
  --tag-txt: #{$pink-900};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$pink-300};
    --ln-hvr: #{$cyan-300};
    --ln-act: #{$purple-300};
    --ln-ul: none;

    --btn-bg: #{$pink-100};
    --btn-txt: #{$pink-900};

    --panel-bg: #{rgba($pink-900, .2)};
    --panel-txt: #{$pink-100};

    --tag-bg: #{rgba($pink-900, .2)};
    --tag-txt: #{$pink-100};
  }
}

.purple,
.secondary {
  --ln-txt: #{$purple-700};
  --ln-hvr: #{$purple-500};
  --ln-act: #{$purple-900};
  --ln-ul: none;

  --btn-bg: #{$purple-500};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($purple-100, .2)};
  --panel-txt: #{$purple-900};

  --tag-bg: #{rgba($purple-100, .2)};
  --tag-txt: #{$purple-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$purple-300};
    --ln-hvr: #{$purple-100};
    --ln-act: #{$purple-500};
    --ln-ul: none;

    --btn-bg: #{$purple-100};
    --btn-txt: #{$purple-900};

    --panel-bg: #{rgba($purple-900, .2)};
    --panel-txt: #{$purple-100};

    --tag-bg: #{rgba($purple-900, .2)};
    --tag-txt: #{$purple-100};
  }
}

.cyan,
.tertiary {
  --ln-txt: #{$cyan-700};
  --ln-hvr: #{$cyan-500};
  --ln-act: #{$cyan-900};
  --ln-ul: none;

  --btn-bg: #{$cyan-700};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($cyan-100, .2)};
  --panel-txt: #{$cyan-900};

  --tag-bg: #{rgba($cyan-100, .2)};
  --tag-txt: #{$cyan-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$cyan-300};
    --ln-hvr: #{$cyan-100};
    --ln-act: #{$cyan-500};
    --ln-ul: none;

    --btn-bg: #{$cyan-300};
    --btn-txt: #{$cyan-900};

    --panel-bg: #{rgba($cyan-900, .2)};
    --panel-txt: #{$cyan-100};

    --tag-bg: #{rgba($cyan-900, .2)};
    --tag-txt: #{$cyan-100};
  }
}

.blue,
.info {
  --ln-txt: #{$blue-700};
  --ln-hvr: #{$blue-500};
  --ln-act: #{$blue-900};
  --ln-ul: none;

  --btn-bg: #{$blue-500};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($blue-100, .2)};
  --panel-txt: #{$blue-900};

  --tag-bg: #{rgba($blue-100, .2)};
  --tag-txt: #{$blue-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$blue-300};
    --ln-hvr: #{$blue-100};
    --ln-act: #{$blue-500};
    --ln-ul: none;

    --btn-bg: #{$blue-100};
    --btn-txt: #{$blue-900};

    --panel-bg: #{rgba($blue-900, .2)};
    --panel-txt: #{$blue-100};

    --tag-bg: #{rgba($blue-900, .2)};
    --tag-txt: #{$blue-100};
  }
}

.green,
.success {
  --ln-txt: #{$green-700};
  --ln-hvr: #{$green-500};
  --ln-act: #{$green-900};
  --ln-ul: none;

  --btn-bg: #{$green-700};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($green-100, .2)};
  --panel-txt: #{$green-900};

  --tag-bg: #{rgba($green-100, .2)};
  --tag-txt: #{$green-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$green-300};
    --ln-hvr: #{$green-100};
    --ln-act: #{$green-500};
    --ln-ul: none;

    --btn-bg: #{$green-100};
    --btn-txt: #{$green-900};

    --panel-bg: #{rgba($green-900, .2)};
    --panel-txt: #{$green-100};

    --tag-bg: #{rgba($green-900, .2)};
    --tag-txt: #{$green-100};
  }
}

.yellow,
.warning {
  --ln-txt: #{$yellow-700};
  --ln-hvr: #{$yellow-500};
  --ln-act: #{$yellow-900};
  --ln-ul: none;

  --btn-bg: #{$yellow-700};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($yellow-100, .2)};
  --panel-txt: #{$yellow-900};

  --tag-bg: #{rgba($yellow-100, .2)};
  --tag-txt: #{$yellow-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$yellow-300};
    --ln-hvr: #{$yellow-100};
    --ln-act: #{$yellow-500};
    --ln-ul: none;

    --btn-bg: #{$yellow-100};
    --btn-txt: #{$yellow-900};

    --panel-bg: #{rgba($yellow-900, .2)};
    --panel-txt: #{$yellow-100};

    --tag-bg: #{rgba($yellow-900, .2)};
    --tag-txt: #{$yellow-100};
  }
}

.orange {
  --ln-txt: #{$orange-700};
  --ln-hvr: #{$orange-500};
  --ln-act: #{$orange-900};
  --ln-ul: none;

  --btn-bg: #{$orange-500};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($orange-100, .2)};
  --panel-txt: #{$orange-900};

  --tag-bg: #{rgba($orange-100, .2)};
  --tag-txt: #{$orange-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$orange-300};
    --ln-hvr: #{$orange-100};
    --ln-act: #{$orange-500};
    --ln-ul: none;

    --btn-bg: #{$orange-100};
    --btn-txt: #{$orange-900};

    --panel-bg: #{rgba($orange-900, .2)};
    --panel-txt: #{$orange-100};

    --tag-bg: #{rgba($orange-900, .2)};
    --tag-txt: #{$orange-100};
  }
}

.red,
.error,
.alert {
  --ln-txt: #{$red-700};
  --ln-hvr: #{$red-500};
  --ln-act: #{$red-900};
  --ln-ul: none;

  --btn-bg: #{$red-500};
  --btn-txt: #{$light-grey-300};

  --panel-bg: #{rgba($red-100, .2)};
  --panel-txt: #{$red-900};

  --tag-bg: #{rgba($red-100, .2)};
  --tag-txt: #{$red-900};


  @media( prefers-color-scheme: dark ) {
    --ln-txt: #{$red-300};
    --ln-hvr: #{$red-100};
    --ln-act: #{$red-500};
    --ln-ul: none;

    --btn-bg: #{$red-100};
    --btn-txt: #{$red-900};

    --panel-bg: #{rgba($red-900, .2)};
    --panel-txt: #{$red-100};

    --tag-bg: #{rgba($red-900, .2)};
    --tag-txt: #{$red-100};
  }
}

.rss {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$orange-500};
  --ln-act: #{$orange-900};
  --ln-ul: none;

  --btn-bg: #{$orange-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$orange-100};
    --ln-act: #{$orange-500};
    --ln-ul: none;

    --btn-bg: #{$orange-100};
    --btn-txt: #{$orange-900};
  }
}

.code {
  --tag-bg: #{$sol-base3};
  --tag-txt: #{$sol-base00};
  --tag-txt-hvr: #{$sol-cyan};
  --tag-txt-act: #{$sol-blue};

  @media( prefers-color-scheme: dark ) {
    --tag-bg: #{$sol-base03};
    --tag-txt: #{$sol-base0};
    --tag-txt-hvr: #{$sol-yellow};
    --tag-txt-act: #{$sol-green};
  }
}

.coffee {
  --tag-bg: #{rgba(#a3907c, .2)};
  --tag-txt: #3d211b;
  --tag-txt-hvr: #{$orange-500};
  --tag-txt-act: #{$orange-900};

  @media( prefers-color-scheme: dark ) {
    --tag-bg: #{rgba(#3d211b, .2)};
    --tag-txt: #a3907c;
    --tag-txt-hvr: #{$orange-100};
    --tag-txt-act: #{$orange-300};
  }
}

.life {
  --tag-bg: #{rgba($blue-100, .2)};
  --tag-txt: #{$blue-900};
  --tag-txt-hvr: #{$cyan-700};
  --tag-txt-act: #{$cyan-900};

  @media( prefers-color-scheme: dark ) {
    --tag-bg: #{rgba($blue-900, .2)};
    --tag-txt: #{$blue-100};
    --tag-txt-hvr: #{$cyan-100};
    --tag-txt-act: #{$cyan-300};
  }
}

// Brand Color Classes
.codepen {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$codepen-500};
  --ln-act: #{$codepen-900};
  --ln-ul: none;

  --btn-bg: #{$codepen-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$codepen-100};
    --ln-act: #{$codepen-500};
    --ln-ul: none;

    --btn-bg: #{$codepen-100};
    --btn-txt: #{$codepen-900};
  }
}

.dribbble {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$dribbble-500};
  --ln-act: #{$dribbble-900};
  --ln-ul: none;

  --btn-bg: #{$dribbble-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$dribbble-100};
    --ln-act: #{$dribbble-500};
    --ln-ul: none;

    --btn-bg: #{$dribbble-100};
    --btn-txt: #{$dribbble-900};
  }
}

.github {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$github-500};
  --ln-act: #{$github-900};
  --ln-ul: none;

  --btn-bg: #{$github-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$github-100};
    --ln-act: #{$github-500};
    --ln-ul: none;

    --btn-bg: #{$github-100};
    --btn-txt: #{$github-900};
  }
}

.gitlab {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$gitlab-500};
  --ln-act: #{$gitlab-900};
  --ln-ul: none;

  --btn-bg: #{$gitlab-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$gitlab-100};
    --ln-act: #{$gitlab-500};
    --ln-ul: none;

    --btn-bg: #{$gitlab-100};
    --btn-txt: #{$gitlab-900};
  }
}

.linkedin {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$linkedin-500};
  --ln-act: #{$linkedin-900};
  --ln-ul: none;

  --btn-bg: #{$linkedin-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$linkedin-100};
    --ln-act: #{$linkedin-500};
    --ln-ul: none;

    --btn-bg: #{$linkedin-100};
    --btn-txt: #{$linkedin-900};
  }
}

.mastodon {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$mastodon-500};
  --ln-act: #{$mastodon-900};
  --ln-ul: none;

  --btn-bg: #{$mastodon-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$mastodon-100};
    --ln-act: #{$mastodon-500};
    --ln-ul: none;

    --btn-bg: #{$mastodon-100};
    --btn-txt: #{$mastodon-900};
  }
}

.pixelfed {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$pixelfed-500};
  --ln-act: #{$pixelfed-900};
  --ln-ul: none;

  --btn-bg: #{$pixelfed-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$pixelfed-100};
    --ln-act: #{$pixelfed-500};
    --ln-ul: none;

    --btn-bg: #{$pixelfed-100};
    --btn-txt: #{$pixelfed-900};
  }
}

.twitch {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$twitch-500};
  --ln-act: #{$twitch-900};
  --ln-ul: none;

  --btn-bg: #{$twitch-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$twitch-100};
    --ln-act: #{$twitch-500};
    --ln-ul: none;

    --btn-bg: #{$twitch-100};
    --btn-txt: #{$twitch-900};
  }
}

.twitter {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$twitter-500};
  --ln-act: #{$twitter-900};
  --ln-ul: none;

  --btn-bg: #{$twitter-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$twitter-100};
    --ln-act: #{$twitter-500};
    --ln-ul: none;

    --btn-bg: #{$twitter-100};
    --btn-txt: #{$twitter-900};
  }
}

.unsplash {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$unsplash-500};
  --ln-act: #{$unsplash-900};
  --ln-ul: none;

  --btn-bg: #{$unsplash-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$unsplash-100};
    --ln-act: #{$unsplash-500};
    --ln-ul: none;

    --btn-bg: #{$unsplash-100};
    --btn-txt: #{$unsplash-900};
  }
}

.youtube {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$youtube-500};
  --ln-act: #{$youtube-900};
  --ln-ul: none;

  --btn-bg: #{$youtube-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$youtube-100};
    --ln-act: #{$youtube-500};
    --ln-ul: none;

    --btn-bg: #{$youtube-100};
    --btn-txt: #{$youtube-900};
  }
}

.ko-fi {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$ko-fi-500};
  --ln-act: #{$ko-fi-900};
  --ln-ul: none;

  --btn-bg: #{$ko-fi-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$ko-fi-100};
    --ln-act: #{$ko-fi-500};
    --ln-ul: none;

    --btn-bg: #{$ko-fi-100};
    --btn-txt: #{$ko-fi-900};
  }
}

.patreon {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$patreon-500};
  --ln-act: #{$patreon-900};
  --ln-ul: none;

  --btn-bg: #{$patreon-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$patreon-100};
    --ln-act: #{$patreon-500};
    --ln-ul: none;

    --btn-bg: #{$patreon-100};
    --btn-txt: #{$patreon-900};
  }
}

.paypal {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$paypal-500};
  --ln-act: #{$paypal-900};
  --ln-ul: none;

  --btn-bg: #{$paypal-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$paypal-100};
    --ln-act: #{$paypal-500};
    --ln-ul: none;

    --btn-bg: #{$paypal-100};
    --btn-txt: #{$paypal-900};
  }
}

.protonmail {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$protonmail-500};
  --ln-act: #{$protonmail-900};
  --ln-ul: none;

  --btn-bg: #{$protonmail-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$protonmail-100};
    --ln-act: #{$protonmail-500};
    --ln-ul: none;

    --btn-bg: #{$protonmail-100};
    --btn-txt: #{$protonmail-900};
  }
}
.squarecash {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$squarecash-500};
  --ln-act: #{$squarecash-900};
  --ln-ul: none;

  --btn-bg: #{$squarecash-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$squarecash-100};
    --ln-act: #{$squarecash-500};
    --ln-ul: none;

    --btn-bg: #{$squarecash-100};
    --btn-txt: #{$squarecash-900};
  }
}
.venmo {
  --ln-txt: var(--txt-alt);
  --ln-hvr: #{$venmo-500};
  --ln-act: #{$venmo-900};
  --ln-ul: none;

  --btn-bg: #{$venmo-500};
  --btn-txt: #{$light-grey-300};

  @media( prefers-color-scheme: dark ) {
    --ln-txt: var(--txt-alt);
    --ln-hvr: #{$venmo-100};
    --ln-act: #{$squarecash-500};
    --ln-ul: none;

    --btn-bg: #{$venmo-100};
    --btn-txt: #{$venmo-900};
  }
}
