---
layout: page
title: Blog
redirect_from:
- /blog/page1/
- /blog/page1
---

<nav class="grid">
  <div class="grid thirds center stack-sm">
    <a href="/tags/#coffee" class="tag coffee text-center">
      {% include modules/icon.html name="coffee-cup" %}
      #coffee
    </a>
    <a href="/tags/#code" class="tag code text-center">
      {% include modules/icon.html name="laptop" %}
      #code
    </a>
    <a href="/tags/#life" class="tag life text-center">
      {% include modules/icon.html name="user" %}
      #life
    </a>
  </div>
</nav>

{% unless paginator.previous_page %}
{% comment %}
Newest posts in a unique, Medium-like layout on the first page
{% endcomment %}
  {% if site.posts.size > 0 %}
  <section>
    {% for post in site.posts limit:1%}
      <h2 class="accent-lined">Latest Post{% if site.posts.size > 3 %}s{% endif %}</h2>
      {% include modules/post-preview.html post= post %}
    {% endfor %}

    {% if site.posts.size > 3 %}
      <div class="grid thirds stack-sm sm-preview">
      {% for post in site.posts offset:1 limit:3 %}
        {% include modules/post-preview.html post= post preview-size= 'small' %}
      {% endfor %}
      </div>
    {% endif %}
  </section>
  {% endif %}
{% endunless %}

<section class="more">
{% if paginator.previous_page %}
<h2 class="accent-lined">Page {{ paginator.page }}</h2>
  {% for post in paginator.posts %}
    {% include modules/post-preview.html post= post %}
  {% endfor %}
{% else %}
  {% if site.posts.size > 1 %}
  <h2 class="accent-lined">More Posts</h2>
  {% endif %}
  {% if site.posts.size > 3 %}
    {% for post in paginator.posts offset: 4 %}
      {% include modules/post-preview.html post= post %}
    {% endfor %}
  {% else %}
    {% for post in paginator.posts offset: 1 %}
      {% include modules/post-preview.html post= post %}
    {% endfor %}
  {% endif %}
{% endif %}
</section>

<nav class="pagination grid halves">
{% if paginator.previous_page %}
<a href="{{ paginator.previous_page_path }}" class="btn">
  {% include modules/icon.html name="arrow-left" %}
  Newer
</a>
{% endif %}

{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" class="btn icon-end">
  Older
  {% include modules/icon.html name="arrow-right" %}
</a>
{% endif %}
</nav>

{%- if site.rss -%}
<section class="text-center">
  <a href="{{ 'feed.xml' | relative_url }}" class="icon-ln rss">
    {% include modules/icon.html name="rss" %}
    Subscribe via RSS
  </a>
</section>
{%- endif -%}
