---
---
// Helpers
@import "1-helpers/variables";
@import "1-helpers/functions";
@import "1-helpers/mixins";

:root {
  /* Pink */
  --pink-100: #{$pink-100};
  --pink-300: #{$pink-300};
  --pink-500: #{$pink-500};
  --pink-700: #{$pink-700};
  --pink-900: #{$pink-900};
  /* Purple */
  --purple-100: #{$purple-100};
  --purple-300: #{$purple-300};
  --purple-500: #{$purple-500};
  --purple-700: #{$purple-700};
  --purple-900: #{$purple-900};
  /* Cyan */
  --cyan-100: #{$cyan-100};
  --cyan-300: #{$cyan-300};
  --cyan-500: #{$cyan-500};
  --cyan-700: #{$cyan-700};
  --cyan-900: #{$cyan-900};
  /* Blue */
  --blue-100: #{$blue-100};
  --blue-300: #{$blue-300};
  --blue-500: #{$blue-500};
  --blue-700: #{$blue-700};
  --blue-900: #{$blue-900};
  /* Green */
  --green-100: #{$green-100};
  --green-300: #{$green-300};
  --green-500: #{$green-500};
  --green-700: #{$green-700};
  --green-900: #{$green-900};
  /* Yellow */
  --yellow-100: #{$yellow-100};
  --yellow-300: #{$yellow-300};
  --yellow-500: #{$yellow-500};
  --yellow-700: #{$yellow-700};
  --yellow-900: #{$yellow-900};
  /* Orange */
  --orange-100: #{$orange-100};
  --orange-300: #{$orange-300};
  --orange-500: #{$orange-500};
  --orange-700: #{$orange-700};
  --orange-900: #{$orange-900};
  /* Red */
  --red-100: #{$red-100};
  --red-300: #{$red-300};
  --red-500: #{$red-500};
  --red-700: #{$red-700};
  --red-900: #{$red-900};
  /* Light Grey */
  --light-grey-100: #{$light-grey-100};
  --light-grey-300: #{$light-grey-300};
  --light-grey-500: #{$light-grey-500};
  --light-grey-700: #{$light-grey-700};
  --light-grey-900: #{$light-grey-900};
  /* Dark Grey */
  --dark-grey-100: #{$dark-grey-100};
  --dark-grey-300: #{$dark-grey-300};
  --dark-grey-500: #{$dark-grey-500};
  --dark-grey-700: #{$dark-grey-700};
  --dark-grey-900: #{$dark-grey-900};
  }
