//----------------------------------------------------------------------------//
// Colors
//----------------------------------------------------------------------------//
// Primary
$primary-100:   #fcb4d9;
$primary-300:   #ec7cbd;
$primary-500:   #e03c9e;
$primary-700:   #c8107c;
$primary-900:   #9d135d;

// Secondary
$secondary-100: #c7b1ff;
$secondary-300: #ac7afa;
$secondary-500: #8439d1;
$secondary-700: #6b15bb;
$secondary-900: #460696;

// Info
$info-100:      #97c9fb;
$info-300:      #7eb3fa;
$info-500:      #4288f4;
$info-700:      #3266e2;
$info-900:      #0b2c9e;

// Success
$success-100:   #b9edbd;
$success-300:   #73df8e;
$success-500:   #2bc15f;
$success-700:   #049042;
$success-900:   #006c30;

// Warning
$warning-100:   #fff4c3;
$warning-300:   #fee07b;
$warning-500:   #f8c822;
$warning-700:   #d4a000;
$warning-900:   #986100;

// Alert
$alert-100:     #ffabab;
$alert-300:     #f68487;
$alert-500:     #ee445b;
$alert-700:     #c91f44;
$alert-900:     #941630;

// Light Grey
$grey-lt-100:   #ffffff;
$grey-lt-300:   #f0f2f8;
$grey-lt-500:   #cdd0d9;
$grey-lt-700:   #a5acb7;
$grey-lt-900:   #717781;

// Dark Grey
$grey-dk-100:   #898a97;
$grey-dk-300:   #696b77;
$grey-dk-500:   #42434a;
$grey-dk-700:   #2f3033;
$grey-dk-900:   #1a1b1e;

// Brands
$codepen:       #000000;
$dribbble:      #ea4c89;
$github:        #333333;
$gitlab:        #554488;
$mastodon:      #3088d4;
$paypal:        #003087;
$twitter:       #1da1f2;

// Site Themes
@import 'theme/_all';
