@mixin depth( $depth: 0, $shadow-color: black ) {
  @if $depth == 1 and $shadow-color != 'focus' {
    box-shadow:
      0px 4px 6px 0px rgba($shadow-color, .12),
      0px 2px 12px 0px rgba($shadow-color, .08),
      0px 2px 4px -1px rgba($shadow-color, .14);
  } @else if $depth == 2 and $shadow-color != 'focus' {
    box-shadow:
      0 6px 8px 2px rgba($shadow-color, .10),
      0 4px 14px 2px rgba($shadow-color, .06),
      0 2px 4px -2px rgba($shadow-color, .14);
  } @else if $depth == 3 and $shadow-color != 'focus' {
    box-shadow:
      0 16px 24px 2px rgba($shadow-color, 0.14),
      0 6px 30px 4px rgba($shadow-color, 0.12),
      0 8px 10px -6px rgba($shadow-color, 0.2);
  } @else if $depth == -1 and $shadow-color != 'focus' {
    box-shadow:
      inset 0px 4px 6px 0px rgba($shadow-color, .12),
      inset 0px 2px 12px 0px rgba($shadow-color, .08),
      inset 0px 2px 4px -1px rgba($shadow-color, .14),
      inset 0px -4px 6px 0px rgba($shadow-color, .12),
      inset 0px -2px 12px 0px rgba($shadow-color, .08),
      inset 0px -2px 4px -1px rgba($shadow-color, .14);
  } @else if $depth == -2 and $shadow-color != 'focus' {
    box-shadow:
      inset 0 6px 8px 2px rgba($shadow-color, .10),
      inset 0 4px 14px 2px rgba($shadow-color, .06),
      inset 0 2px 4px -2px rgba($shadow-color, .14),
      inset 0 -6px 8px 2px rgba($shadow-color, .10),
      inset 0 -4px 14px 2px rgba($shadow-color, .06),
      inset 0 -2px 4px -2px rgba($shadow-color, .14);
  } @else if $depth == -3 and $shadow-color != 'focus' {
    box-shadow:
      inset 0 16px 24px 2px rgba($shadow-color, 0.14),
      inset 0 6px 30px 4px rgba($shadow-color, 0.12),
      inset 0 8px 10px -6px rgba($shadow-color, 0.2),
      inset 0 -16px 24px 2px rgba($shadow-color, 0.14),
      inset 0 -6px 30px 4px rgba($shadow-color, 0.12),
      inset 0 -8px 10px -6px rgba($shadow-color, 0.2);
  } @else if $depth == 1 and $shadow-color == 'focus' {
    box-shadow:
      0px 0px 4px 1px rgba($focus-color, .4),
      0px 4px 6px 0px rgba($focus-color, .12),
      0px 2px 12px 0px rgba($focus-color, .08),
      0px 2px 4px -1px rgba($focus-color, .14);
  } @else if $depth == 2 and $shadow-color == 'focus' {
    box-shadow:
      0px 0px 4px 1px rgba($focus-color, .4),
      0 6px 8px 2px rgba($focus-color, .10),
      0 4px 14px 2px rgba($focus-color, .06),
      0 2px 4px -2px rgba($focus-color, .14);
  } @else if $depth == 3 and $shadow-color == 'focus' {
    box-shadow:
      0px 0px 4px 1px rgba($focus-color, .4),
      0 16px 24px 2px rgba($focus-color, 0.14),
      0 6px 30px 4px rgba($focus-color, 0.12),
      0 8px 10px -6px rgba($focus-color, 0.2);
  } @else {
    box-shadow: none;
  }
}

@mixin text-depth( $text-depth: 0, $text-shadow-color: black ) {
  @if $text-depth == 1 and $text-shadow-color != 'focus' {
    text-shadow:
      0px 4px 6px rgba($text-shadow-color, .12),
      0px 2px 12px rgba($text-shadow-color, .08),
      0px 2px 4px rgba($text-shadow-color, .14);
  } @else if $text-depth == 2 and $text-shadow-color != 'focus' {
    text-shadow:
      0 6px 8px rgba($text-shadow-color, .10),
      0 4px 14px rgba($text-shadow-color, .06),
      0 2px 4px rgba($text-shadow-color, .14);
  } @else if $text-depth == 3 and $text-shadow-color != 'focus' {
    text-shadow:
      0 16px 24px rgba($text-shadow-color, 0.14),
      0 6px 30px rgba($text-shadow-color, 0.12),
      0 8px 10px rgba($text-shadow-color, 0.2);
  } @else if $text-depth == -1 and $text-shadow-color != 'focus' {
    text-shadow:
      0px -4px 6px rgba($text-shadow-color, .12),
      0px -2px 12px rgba($text-shadow-color, .08),
      0px -2px 4px rgba($text-shadow-color, .14);
  } @else if $text-depth == -2 and $text-shadow-color != 'focus' {
    text-shadow:
      0 -6px 8px rgba($text-shadow-color, .10),
      0 -4px 14px rgba($text-shadow-color, .06),
      0 -2px 4px rgba($text-shadow-color, .14);
  } @else if $text-depth == -3 and $text-shadow-color != 'focus' {
    text-shadow:
      0 -16px 24px rgba($text-shadow-color, 0.14),
      0 -6px 30px rgba($text-shadow-color, 0.12),
      0 -8px 10px rgba($text-shadow-color, 0.2);
  } @else if $text-depth == 1 and $text-shadow-color == 'focus' {
    text-shadow:
      0px 0px 4px rgba($focus-color, .4),
      0px 4px 6px rgba($focus-color, .12),
      0px 2px 12px rgba($focus-color, .08),
      0px 2px 4px rgba($focus-color, .14);
  } @else if $text-depth == 2 and $text-shadow-color == 'focus' {
    text-shadow:
      0px 0px 4px rgba($focus-color, .4),
      0 6px 8px rgba($focus-color, .10),
      0 4px 14px rgba($focus-color, .06),
      0 2px 4px rgba($focus-color, .14);
  } @else if $text-depth == 3 and $text-shadow-color == 'focus' {
    text-shadow:
      0px 0px 4px rgba($focus-color, .4),
      0 16px 24px rgba($focus-color, 0.14),
      0 6px 30px rgba($focus-color, 0.12),
      0 8px 10px rgba($focus-color, 0.2);
  } @else {
    text-shadow: none;
  }
}
