//----------------------------------------------------------------------------//
// Global
//----------------------------------------------------------------------------//
$gap: 1rem;
$rad: 5px;
$lift: -2px;

// Screen sizes / breakpoints
$screen-sm:  36em;
$screen-md:  48em;
$screen-lg:  56em;
$screen-xl:  64em;
$screen-xxl: 80em;

$content-width-xs: $screen-sm;
$content-width-sm: $screen-md;
$content-width:    $screen-lg;
$content-width-lg: $screen-xl;
$content-width-xl: $screen-xxl;

@mixin media-query( $screen-size ) {
  @media screen and ( max-width: $screen-size ) {
    @content;
  }
}

//----------------------------------------------------------------------------//
// Typograph
//----------------------------------------------------------------------------//
// Fonts
$font-sans:    'Poppins', sans-serif;
$font-serif:   'IBM Plex Serif', serif;
$font-mono:    'Anonymous Pro', monospace;

// Base
$font-size: 18px;

$focus-color: $info-700;

$body-font: $font-sans;
$body-font-weight: 300;

// Headings
$heading-font: $font-serif;
$heading-font-weight: bold;

$heading-font-size-h1: 2.5rem;
$heading-font-size-h2: 2rem;
$heading-font-size-h3: 1.75rem;
$heading-font-size-h4: 1.5rem;
$heading-font-size-h5: 1.25rem;
$heading-font-size-h6: 1.125rem;

$heading-font-size-h1-sm: 2rem;
$heading-font-size-h2-sm: 1.75rem;
$heading-font-size-h3-sm: 1.5rem;
$heading-font-size-h4-sm: 1.25rem;
$heading-font-size-h5-sm: 1.125rem;
$heading-font-size-h6-sm: 1rem;

$display-font: $font-serif;
$display-font-weight: bold;
$display-font-size: 4rem;
$display-font-size-sm: 2.5rem;

$display-font-alt: $font-sans;
$display-font-weight-alt: 600;
$display-font-size-alt: 1.5rem;
$display-font-size-alt-sm: 1rem;

// First Letter
$first-letter-font: $font-serif;
$first-letter-weight: bold;
$first-letter-size: 6rem;
$first-letter-line-height: 4.5rem;

$first-letter-size-sm: 5rem;
$first-letter-line-height-sm: 3.5rem;

// Quotes
$blockquote-size: 1.75rem;
$blockquote-line-width: 2px;

$cite-line: '⊶ ';
$cite-size: 80%;

// Code
$code-font: $font-mono;
$code-font-size: 1em;
$code-font-weight: normal;

// Forms
$legend-font: $font-serif;
$legend-font-size: 1.125rem;

// Links
$link-arrow: '⟶';

// Buttons
$btn-font-size: 1.125rem;
$btn-font-weight: 600;

//logo
$logotype-font: $font-serif;
$logotype-font-size: 1.75rem;
$logotype-font-weight: bold;

// Nav
$nav-font: $font-sans;
$nav-font-size: 1.25rem;
$nav-font-size-sm: 1rem;
$nav-font-weight: 600;

// Gallery
$gallery-height: 70vh;
