.avatar {
  border: 1px solid rgba(black, 0.8);
  border-radius: var(--border-rad-avatar);
  box-shadow: var(--outset-highlight), var(--shadow);
  display: grid;
  height: 150px;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  place-items: center;
  width: 150px;
}

.avatar-sm {
  border: 1px solid rgba(black, 0.8);
  border-radius: 50%;
  box-shadow: var(--outset-highlight), var(--shadow);
  display: grid;
  height: 48px;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  place-items: center;
  width: 48px;
}

.micah {
  background-color: var(--accent-color);
  background-image: url('https://gravatar.com/avatar/eab584b2d2b890a0bc6a25c29bbcac00?s=148');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}