:root {
  --border-rad-btn: .5rem;
  --border-rad-panel: 1rem;
  --border-rad-input: .5rem;
  --border-rad-checkbox: .25rem;
  --border-rad-img: .5rem;
  --border-rad-fieldset: .75rem;
  --border-rad-mark: .25rem;
  --border-rad-code: .5rem;
  --border-rad-codeblock: .75rem;
  --border-rad-kbd: .25rem;
  --border-rad-accordian: 1rem;
  --border-rad-avatar: 50%;
  --border-rad-badge: 1000px;
  --border-rad-notification: .5rem;
  --border-rad-palette: 1rem;
  --border-rad-excerpt: .5rem;
  --border-rad-progress-bar: 1000px;
  --border-rad-switch: 1000px;
  --border-rad-tag: .5rem;
  --border-rad-vid: 1rem;
}