.gallery-section {
  background: var(--gllry-bg);
  margin-bottom: $gap * 2;
  margin-top: $gap * 2;
  max-height: $gallery-height;
  overflow-y: auto;
  padding: 0 0 1.5rem 0;
  @include depth(-2);
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .column {
    flex: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 0 .75rem;

    img {
      margin-top: 1.5rem;
      vertical-align: middle;
      width: 100%;
    }

    @include media-query($screen-sm) {
      flex: 100% !important;
      max-width: 100% !important;
    }
  }
}
