.highlight {
  background: var(--code-bg);
  border-radius: $rad;
  color: var(--code-txt);
  margin: 1rem 0 2rem 0;
  padding: 0;
  @include depth(1);

  .highlighter-rouge & {
    background: var(--code-bg);
  }

  pre {
    background: var(--code-bg);
    border: none;
    color: var(--code-txt);
    margin: 0;
    padding: 0 1rem 0 0;
  }

  .lineno {
    background: var(--code-bg-alt);
    border-radius: 0;
    color: var(--code-txt-alt);
    margin-right: .5rem;
    padding: 1rem .5rem;
    text-align: right;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  .c { color: var(--code-txt-alt); } /* Comment */
  .err { color: var(--code-txt); background: var(--code-regex-special); } /* Error */
  .g { color: var(--code-txt); } /* Generic */
  .k { color: var(--code-op); } /* Keyword */
  .l { color: var(--code-txt); } /* Literal */
  .n { color: var(--code-txt); } /* Name */
  .o { color: var(--code-op); } /* Operator */
  .x { color: var(--code-const); } /* Other */
  .p { color: var(--code-txt); } /* Punctuation */
  .cm { color: var(--code-txt-alt); } /* Comment.Multiline */
  .cp { color: var(--code-op); } /* Comment.Preproc */
  .c1 { color: var(--code-txt-alt); } /* Comment.Single */
  .cs { color: var(--code-op); } /* Comment.Special */
  .gd { color: var(--code-str-num); } /* Generic.Deleted */
  .ge { color: var(--code-txt); font-style: italic; } /* Generic.Emph */
  .gr { color: var(--code-regex-special); } /* Generic.Error */
  .gh { color: var(--code-const);} /* Generic.Heading */
  .gi { color: var(--code-op); } /* Generic.Inserted */
  .go { color: var(--code-txt); } /* Generic.Output */
  .gp { color: var(--code-txt); } /* Generic.Prompt */
  .gs { color: var(--code-txt); font-weight: bold; } /* Generic.Strong */
  .gu { color: var(--code-const); } /* Generic.Subheading */
  .gt { color: var(--code-txt); } /* Generic.Traceback */
  .kc { color: var(--code-const); } /* Keyword.Constant */
  .kd { color: var(--code-reserved); } /* Keyword.Declaration */
  .kn { color: var(--code-op); } /* Keyword.Namespace */
  .kp { color: var(--code-op); } /* Keyword.Pseudo */
  .kr { color: var(--code-reserved); } /* Keyword.Reserved */
  .kt { color: var(--code-regex-special); } /* Keyword.Type */
  .ld { color: var(--code-txt); } /* Literal.Date */
  .m { color: var(--code-str-num); } /* Literal.Number */
  .s { color: var(--code-str-num); } /* Literal.String */
  .na { color: var(--code-txt); } /* Name.Attribute */
  .nb { color: var(--code-const); } /* Name.Builtin */
  .nc { color: var(--code-reserved); } /* Name.Class */
  .no { color: var(--code-const); } /* Name.Constant */
  .nd { color: var(--code-reserved); } /* Name.Decorator */
  .ni { color: var(--code-const); } /* Name.Entity */
  .ne { color: var(--code-const); } /* Name.Exception */
  .nf { color: var(--code-reserved); } /* Name.Function */
  .nl { color: var(--code-txt); } /* Name.Label */
  .nn { color: var(--code-txt); } /* Name.Namespace */
  .nx { color: var(--code-txt); } /* Name.Other */
  .py { color: var(--code-txt); } /* Name.Property */
  .nt { color: var(--code-reserved); } /* Name.Tag */
  .nv { color: var(--code-reserved); } /* Name.Variable */
  .ow { color: var(--code-op); } /* Operator.Word */
  .w { color: var(--code-txt); } /* Text.Whitespace */
  .mf { color: var(--code-str-num); } /* Literal.Number.Float */
  .mh { color: var(--code-str-num); } /* Literal.Number.Hex */
  .mi { color: var(--code-str-num); } /* Literal.Number.Integer */
  .mo { color: var(--code-str-num); } /* Literal.Number.Oct */
  .sb { color: var(--code-txt-alt); } /* Literal.String.Backtick */
  .sc { color: var(--code-str-num); } /* Literal.String.Char */
  .sd { color: var(--code-txt); } /* Literal.String.Doc */
  .s2 { color: var(--code-str-num); } /* Literal.String.Double */
  .se { color: var(--code-const); } /* Literal.String.Escape */
  .sh { color: var(--code-txt); } /* Literal.String.Heredoc */
  .si { color: var(--code-str-num); } /* Literal.String.Interpol */
  .sx { color: var(--code-str-num); } /* Literal.String.Other */
  .sr { color: var(--code-regex-special); } /* Literal.String.Regex */
  .s1 { color: var(--code-str-num); } /* Literal.String.Single */
  .ss { color: var(--code-str-num); } /* Literal.String.Symbol */
  .bp { color: var(--code-reserved); } /* Name.Builtin.Pseudo */
  .vc { color: var(--code-reserved); } /* Name.Variable.Class */
  .vg { color: var(--code-reserved); } /* Name.Variable.Global */
  .vi { color: var(--code-reserved); } /* Name.Variable.Instance */
  .il { color: var(--code-str-num); } /* Literal.Number.Integer.Long */
}
