---
layout: default
---
<article>
  {% capture work-header %}
  <h1 class="client-name">{{ page.title | escape }}</h1>
  <h2 class="job-title">{{ page.job-title | escape }}</h2>
  {% endcapture %}

  {% assign preview_image = page.url | remove: '.html' | prepend: '/assets/images/' | append: '/preview.jpg' %}
  {% include header.html image = preview_image content = work-header %}

  <div class="wrapper-sm">
    <main class="post-content" itemprop="articleBody">
      {{ content }}
    </main>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </div>
</article>
