---
layout: default
---
<article>
  <header>
    <div>
      {% if page.image %}
      <div class="preview-image header" alt="Preview image" style="background-image: url({{ page.image }});"></div>
      {% endif %}
      <h1 class="accent-lined">{{ page.title }}</h2>
      {% if page.description %}
      <h2 class="subheading">{{ page.description }}</h3>
      {% endif %}
      <div><time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time></div>
      {% include modules/read-time.html content=page.content %}
    </div>
  </header>

  <section>
    {{ content }}
  </seciton>

  <section>
    <h6>Tags</h6>
    {% include modules/tags.html %}

    <div class="text-center">
      <h5>Feel free to reach out to me.</h5>
      {% if site.socials.twitter %}
      <a rel="nofollow noopener noreferrer" target="_blank" href="https://twitter.com/{{ site.socials.twitter }}" class="icon-ln twitter">
        {% include modules/icon.html name="twitter" %}
        Twitter
      </a>
      &nbsp;
      {% endif %}
      {%- if site.socials.mastodon.instance and site.socials.mastodon.username -%}
      &nbsp;
      <a rel="nofollow noopener noreferrer" target="_blank" href="https://{{ site.socials.mastodon.instance }}/@{{ site.socials.mastodon.username }}" class="icon-ln mastodon">
        {% include modules/icon.html name="mastodon" %}
        Mastodon
      </a>
      {% endif %}
    </div>
  </section>
</article>

{% if page.next %}
<section class="up-next">
  <div class="grid">
    <div>
      <h2 class="accent-lined">Up Next</h2>
    </div>
    {% include modules/post-preview.html post=page.next %}
  </div>
</seciton>
{% elsif page.previous %}
<section class="up-next">
  <div class="grid">
    <div>
      <h2 class="accent-lined">Up Next</h2>
    </div>
    {% include modules/post-preview.html post=page.previous %}
  </div>
</seciton>
{% endif %}
