---
layout: default
---
<article {% if page.post_id %} id="{{ page.post_id }}" {% endif %} class="project-article">
  <header>
    <div>
      {% if page.image %}
      <div class="preview-image header" alt="Preview image" style="background-image: url({{ page.image }});"></div>
      {% endif %}
      <div class="grid halves stack-sm">
        <div>
          <h1 class="accent-lined">{{ page.title }}</h2>
          {% if page.job-title %}
          <h2 class="subheading">{{ page.job-title }}</h3>
          {% endif %}
        </div>
        <div class="v-center h-end center-sm">
          <a href="{{ page.live-url }}" class="btn">{{ page.title }}</a>
        </div>
      </div>
    </div>
  </header>

  <section>
    {{ content }}
  </seciton>
</article>
