footer {
  background: var(--ftr-bg);
  color: var(--ftr-txt);
  margin-top: 2rem;
  padding: 2rem 0 0 0;
  width: 100%;

  a {
    color: var(--ftr-ln);
    &:hover { color: var(--ftr-ln-hvr); }
    &:active { color: var(--ftr-ln-act); }
  }

  @include media-query($screen-md) {
    padding-bottom: 6rem;
  }
}

#footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gap;
  grid-template-areas:
    " copyright copyright copyright  "
    " site-map  socials   support-me "
    " issues    issues    issues     ";

  @include media-query($screen-sm) {
    grid-template-columns: 1fr;
    grid-template-areas:
      " copyright  "
      " site-map   "
      " socials    "
      " support-me "
      " issues     ";
  }
}

#footer-copyright   { grid-area: copyright; margin-bottom: 2rem; }
#footer-site-map    { grid-area: site-map;}
#footer-socials     { grid-area: socials;}
#footer-support-me  { grid-area: support-me;}
#footer-issues      { grid-area: issues; margin-top: 1rem; }

.social-media-list, .site-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
