* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

body {
  align-items: center;
  background-color: #1a1a1a;
  background-image: url(../img/textures/speckles.svg);
  color: #333;
  display: grid;
  font-family: 'Karma', serif; 
  font-size: 16px;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  color: #7A36B1;
  font-family: 'Muli', sans-serif;
  font-size: 32px;
  text-shadow: 0 -1px 0 white;
}

h2 {
  color: #7E8087;
  font-family: 'Unica One', cursive;
  font-size: 20px;
}

small {
  color: #ABACAE;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
}

main {
  align-items: center;
  background-color: #FFF;
  background-image: url(../img/textures/paper.svg);
  border: 1px solid rgba(0 ,0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  max-width: 40em;
  margin: 24px;
  padding: 24px;
}

.avitar {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/avitar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
  border-radius: 50%;
  border: 1px solid rgba(0 ,0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.12),
              inset 0 0 2px rgba(0, 0, 0, 0.24);
  height: 180px;
  margin: 24px;
  width: 180px;
}

.copy {
  display: grid;
  grid-gap: 6px;
}

.copy p {
  margin-top: 24px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: span 2;
}

.copyright {
  grid-column: span 2;
}

a.btn {
  background-color: #7a36b1;
  background-image: linear-gradient(rgba(255,255,255,0.5), transparent), url('../../img/textures/paper-btn.svg');
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 50%;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),
                    0px 1px 3px rgba(0,0,0,0.2),
                    0px 2px 3px rgba(0,0,0,0.1);
  color: white;
  cursor: default;
  padding: 10px 9px 6px 9px;
  margin: 12px;
  text-decoration: none;
  text-shadow: 1px 1px rgba(255,255,255,0.3);
  transition: all 0.1s ease-out;
  vertical-align: middle;
}

a.btn:hover, a.btn:focus {
  background-image: linear-gradient(rgba(255,255,255,0.6), transparent), url('../../img/textures/paper-btn.svg');
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),
                    0px 1px 4px rgba(0,0,0,0.24),
                    0px 2px 5px rgba(0,0,0,0.12);
}

a.btn:active {
  background-image: linear-gradient(transparent, rgba(255,255,255,0.4)), url('../../img/textures/paper-btn.svg');
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3),
              0px 1px 0px white;
}

a.btn.github {
  background-color: #333;
}

a.btn.dribbble {
  background-color: #EA4C89;
}

a.btn.twitter {
  background-color: #1DA1F2;
}

a.btn.medium {
  background-color: #00AB6C;
}

a.btn.google-plus {
  background-color: #DD4B39;
}

a.btn.linkedin {
  background-color: #0077B5;
}

a.btn.paypal {
  background-color: #003087;
}

@media  screen and (max-width: 40em) {
  body {
    align-items: start;
  }
  h2 {
    font-size: 16px;
  }
  main {
    grid-template-columns: 1fr;
  }
  .copy {
    justify-items: center;
  }
  .socials {   
    grid-column: span 1;
  }
  .copyright {
    grid-column: span 1;
  }
}
