:root {
  @include light_theme();

  @media (prefers-color-scheme: light) {
    @include light_theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark_theme();
  }
}

::selection {
    color: var(--sel-txt);
    background: var(--sel-bg);
}
::-moz-selection {
    color: var(--sel-txt);
    background: var(--sel-bg);
}

body {
  background: var(--bg);
  color: var(--txt);
  font-family: $body-font;
  font-weight: $body-font-weight;
  font-size: $font-size;
  line-height: 1.6;
  transition: all .15s ease-in-out;

  @include media-query($screen-sm) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.dark {
  @include dark_theme()
}

.bg-alt {
  background: var(--bg-alt);
}

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.post-content {
  p::first-letter {
    margin-left: $gap;

    &::selection {
      color: var(--sel-txt);
      background: var(--sel-bg);
    }
    &::-moz-selection {
      color: var(--sel-txt);
      background: var(--sel-bg);
    }
  }

  p:first-of-type {
    &::first-letter {
      display: block;
      font-family: $first-letter-font;
      font-size: $first-letter-size;
      color: var(--fst-ltr);
      font-weight: $first-letter-weight;
      line-height: $first-letter-line-height;
      float: left;
      margin: 0;
      padding: .25rem .5rem .5rem 0;

      @include media-query($screen-sm) {
        font-size: $first-letter-size-sm;
        line-height: $first-letter-line-height-sm;
      }
    }
  }
}

b, strong {
  font-weight: $body-font-weight-bold;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, a, pre,
ul, ol, dl, figure {
  margin-bottom: $gap;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  margin-top: 0;
}

h1 { font-size: $heading-font-size-h1; }
h2 { font-size: $heading-font-size-h2; }
h3 { font-size: $heading-font-size-h3; }
h4 { font-size: $heading-font-size-h4; }
h5 { font-size: $heading-font-size-h5; }
h6 { font-size: $heading-font-size-h6; }

@include media-query($screen-sm) {
  h1 { font-size: $heading-font-size-h1-sm; }
  h2 { font-size: $heading-font-size-h2-sm; }
  h3 { font-size: $heading-font-size-h3-sm; }
  h4 { font-size: $heading-font-size-h4-sm; }
  h5 { font-size: $heading-font-size-h5-sm; }
  h6 { font-size: $heading-font-size-h6-sm; }
}


.display {
  font-family: $display-font;
  font-size: $display-font-size;
  font-weight: $display-font-weight;

  @include media-query($screen-sm) {
    font-size: $display-font-size-sm;
  }
}

.display-alt {
  font-family: $display-font-alt;
  font-size: $display-font-size-alt;
  font-weight: $display-font-weight-alt;

  @include media-query($screen-sm) {
    font-size: $display-font-size-alt-sm;
  }
}

.logotype {
  font-family: $logotype-font;
  font-size: $logotype-font-size;
  font-weight: $logotype-font-weight;
  text-transform: lowercase;
}

// Quotes/Block-quotes
blockquote, q {
  font-style: italic;
}

blockquote {
  border-left: $blockquote-line-width solid var(--bq-line);
  color: var(--bq-txt);
  font-size: $blockquote-size;
  margin: .5rem 0 1rem 0;
  padding-left: $gap;

  cite {
    display: block;
    margin: .5rem 0;
  }
}

cite {
  color: var(--cite-txt);
  font-size: $cite-size;
  font-style: normal;
  margin: .5rem .25rem .5rem 0;

  &::before {
    content: $cite-line;
  }
}

// Code/Kbd/Pre
code, kbd, pre {
  border-radius: $rad;
  font-family: $code-font;
  font-size: $code-font-size;
  font-weight: $code-font-weight;
}

code, pre {
  background: var(--code-bg);
  color: var(--code-txt);
}

code {
  padding: .25rem .5rem;
}

kbd {
  background: var(--kbd-bg);
  border: 1px solid var(--kbd-bdr);
  box-shadow: 0 2px 0 0 var(--kbd-bdr);
  color: var(--kbd-txt);
  font-size: 80%;
  padding: .125rem .25rem;
  vertical-align: text-top;
}

pre {
  padding: .25rem 1rem .5rem .5rem;
  overflow-x: auto;

  > code {
    border: none;
    padding-right: 0;
    padding-left: 0;
  }
}

// Lists
ul, ol {
  margin-left: .25rem;
}

li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

// Misc
abbr, abbr[title] {
  border-bottom: 1px dotted var(--txt-alt);
  cursor: help;
  text-decoration: none;
}

mark {
  background-color: var(--mark-bg);
  border-radius: $rad;
  color: var(--mark-txt);
  padding: 0.2em 0.4em;
}

hr {
  border-bottom: 1px solid var(--hr);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 0;
  margin: 1.25rem auto;
  width: 100%;
}

// Text Aligns
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

img {
  border-radius: $rad;
  @include depth(1);
}
