//----------------------------------------------------------------------------//
// Base
//----------------------------------------------------------------------------//
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  font-size: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: white;
  color: black;
  font-kerning: normal;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

//----------------------------------------------------------------------------//
// Typography
//----------------------------------------------------------------------------//
a {
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

b, strong {
  font-weight: bolder;
  line-height: inherit;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

pre {
  overflow: auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
}

small {
  font-size: 80%;
  line-height: inherit;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  z-index: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

//----------------------------------------------------------------------------//
// Forms
//----------------------------------------------------------------------------//
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input, select, textarea {
  box-sizing: border-box;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

//----------------------------------------------------------------------------//
// Media
//----------------------------------------------------------------------------//
img, audio, video {
  height: auto;
  max-width: 100%;
}

img {
  border-style: none;
}

iframe {
  border: 0;
}
