{% assign project = include.project %}

<a href="{{ project.url }}" class="project-preview">
  {% if project.image %}
  <div class="preview-image" alt="Preview image" style="background-image: url({{ project.image }});"></div>
  {% else %}
  <div class="excerpt">
    <p>
      {% if include.preview-size == 'small' %}
        {{ project.excerpt | strip_html | truncatewords: 10 }}
      {% else %}
        {{ project.excerpt | strip_html | truncatewords: 40 }}
      {% endif %}
    </p>
    <div class="text-right">…Read more</div>
  </div>
  {% endif %}
  <header class="grid">
    <div>
      <h2 class="post-title accent-lined">{{ project.title }}</h2>
      {% if project.job-title %}
      <h3 class="subheading post-desc">{{ project.job-title }}</h3>
      {% endif %}
    </div>
  </header>
</a>
