<aside class="tags">
  {% assign sortedTags = page.tags | sort %}
  {% for tag in sortedTags %}
    {% case tag %}
      {% when "coffee" %}
        {% assign class = "coffee" %}
      {% when "code" %}
        {% assign class = "code" %}
      {% when "life" %}
        {% assign class = "life" %}
      {% else%}
        {% assign class = "primary" %}
    {% endcase %}
    <a class="tag{% if class %} {{class}}{% endif %}" href="/tags/#{{ tag | replace: ' ', '-' }}">#{{ tag }}</a>
  {% endfor %}
</aside>
