@mixin dark_theme() {
//----------------------------------------------------------------------------//
// Base
//----------------------------------------------------------------------------//
  --bg: #{$grey-dk-500};
  --bg-alt: #{$grey-dk-700};

  --txt: #{$grey-lt-300};
  --txt-alt: #{$grey-lt-700};

  // Selection Highlight
  --sel-bg: #{$primary-500};
  --sel-txt: #{$grey-lt-100};

  // Focus Highlight
  --focus: #{$info-300};

  // First Letter
  --fst-ltr: #{$primary-300};

  // Blockquote
  --bq-txt: #{$grey-lt-500};
  --bq-line: #{$primary-300};

  // Cite
  --cite-txt: #{$grey-lt-700};

  // Code & Code Blocks
  --code-bg: #{$grey-dk-900}; // background
  --code-bg-alt: #{$grey-dk-700}; // line numbers background
  --code-txt: #{$grey-lt-300}; //body text - default code - primary content
  --code-txt-alt: #{$grey-lt-700}; // comments - secondary content
  // Syntax Highlighting
  --code-const: #{$warning-300}; // constants
  --code-regex-special: #{$alert-300}; // regex, special keywords
  --code-reserved: #{$info-300}; // reserved keywords
  --code-str-num: #{$primary-300}; // strings, numbers
  --code-op: #{$success-300}; // operators, other keywords

  // Keystrokes
  --kbd-bg: #{$grey-dk-300};
  --kbd-bdr: #{darken($grey-dk-500, 30%)};
  --kbd-txt: #{$grey-lt-100};

  // Horizontal Rule
  --hr: #{$grey-lt-300};

  // Mark/Highlight
  --mark-bg: #{transparentize($warning-900, .5)};
  --mark-txt: #{$warning-100};

  // Links
  --ln-primary: #{$primary-300};
  --ln-primary-hvr: none;
  --ln-primary-act: #{darken($primary-300, 20%)};

  --ln-secondary: #{$secondary-300};
  --ln-secondary-hvr: none;
  --ln-secondary-act: #{darken($secondary-300, 20%)};

  --ln-info: #{$info-300};
  --ln-info-hvr: none;
  --ln-info-act: #{darken($info-300, 20%)};

  --ln-success: #{$success-300};
  --ln-success-hvr: none;
  --ln-success-act: #{darken($success-300, 20%)};

  --ln-warning: #{$warning-300};
  --ln-warning-hvr: none;
  --ln-warning-act: #{darken($warning-300, 20%)};

  --ln-alert: #{$alert-300};
  --ln-alert-hvr: none;
  --ln-alert-act: #{darken($alert-300, 20%)};

  // Buttons
  --btn-bg: #{$grey-lt-300};
  --btn-txt: #{$grey-dk-500};

  --btn-primary-bg: #{$primary-100};
  --btn-primary-txt: #{$primary-900};

  --btn-secondary-bg: #{$secondary-100};
  --btn-secondary-txt: #{$secondary-900};

  --btn-info-bg: #{$info-100};
  --btn-info-txt: #{$info-900};

  --btn-success-bg: #{$success-100};
  --btn-success-txt: #{$success-900};

  --btn-warning-bg: #{$warning-100};
  --btn-warning-txt: #{$warning-900};

  --btn-alert-bg: #{$alert-100};
  --btn-alert-txt: #{$alert-900};

    // Brand Buttons
  --btn-codepen-bg: #{$grey-lt-300};
  --btn-codepen-txt: #{$codepen};

  --btn-dribbble-bg: #{$grey-lt-300};
  --btn-dribbble-txt: #{$dribbble};

  --btn-github-bg: #{$grey-lt-300};
  --btn-github-txt: #{$github};

  --btn-gitlab-bg: #{$grey-lt-300};
  --btn-gitlab-txt: #{$gitlab};

  --btn-mastodon-bg: #{$grey-lt-300};
  --btn-mastodon-txt: #{$mastodon};

  --btn-paypal-bg: #{$grey-lt-300};
  --btn-paypal-txt: #{$paypal};

  --btn-twitter-bg: #{$grey-lt-300};
  --btn-twitter-txt: #{$twitter};

  // Forms
  --inpt-bg: #{$grey-dk-700};
  --inpt-txt: #{$grey-lt-300};
  --ph: #{$grey-lt-700}; // Placeholder text

//----------------------------------------------------------------------------//
// Layout
//----------------------------------------------------------------------------//
  // Nav
  --nav-bg: #{$grey-dk-900};
    // Normal nav links
  --nav-ln: #{$grey-lt-500};
  --nav-ln-hvr: #{$grey-dk-500};
  --nav-ln-act:  #{$primary-300};
    // Current page nav links
  --nav-ln-crnt: #{$primary-300};
  --nav-ln-crnt-hvr: #{$grey-dk-500};
  --nav-ln-crnt-act: #{$secondary-300};

  // Header
  --hdr-bg: #{$grey-dk-300};
  --hdr-txt: #{$grey-lt-100};

  // Footer
  --ftr-bg: #{$grey-dk-900};
  --ftr-txt: #{$grey-lt-300};

  --ftr-ln: #{transparentize($grey-lt-100, .2)};
  --ftr-ln-hvr: #{$grey-lt-100};
  --ftr-ln-act: #{$primary-300};

//----------------------------------------------------------------------------//
// Custom Components
//----------------------------------------------------------------------------//
  // Preview Cards
  --prvw-crd-bg: #{$grey-dk-300};
  --prvw-crd-txt: #{$grey-lt-300};

  // Profile Widget
  --avtr-bg: #{$grey-lt-500};
  --prfl-ln: #{$grey-lt-700};
  --prfl-ln-hvr: #{$grey-lt-100};
  --prfl-ln-act: #{$primary-300};

  // Image Gallery
  --gllry-bg: #{$grey-dk-900};

  // Contact Card
  --cntct-bg: #{$grey-dk-700};
  --cntct-pnl-bg: #{$grey-dk-500};
  --cntct-pnl-bg-alt: #{$grey-dk-900};
  --cntct-pnl-acnt: #{$primary-300};
}
